@model IEnumerable<WebOnlineShopping.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table  {
        max-width:80%;
        margin-top:30px;
        margin-left:auto
    }

    .form-select {
        max-width: 20%;
        margin-top: 30px;
        margin-left: auto
    }
    button{
        width:60px;
        height:40px;
        border-radius:12px;
        background:#ccc;       
    }
    button:hover {
         background: red;
        transition:.25s
    }

    .btn-create{
        width: 120px;
        height: 50px;
        border-radius: 12px;
        background: #ccc;
    }
    p {       
        margin-left:280px
    }

    .nav {
        margin-top: 30px;
        margin-left: 300px;
    }

    .parent-pagination {
        
        max-width: 20%;       
        margin-left: auto;
    }
</style>
<h3 class="nav">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="text-muted fw-light">Quản lý / </span> </a>
    <a>Quản lý quyền truy cập</a>
</h3>
<select class="form-select" asp-items="ViewBag.QuyenTruyCap">
    <option value="0" selected>Chọn Quyền truy cập</option>
   
</select>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên
            </th>
            <th>
                Quyền truy cập
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.RoleId
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decription)
            </td>
            <td>
               <button>
                   <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                </button>
                <button>
                    <a asp-action="Details" asp-route-id="@item.RoleId">View</a>
                </button> 
                 <button>
                        <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                 </button>                 
            </td>
        </tr>
}
    </tbody>
</table>
<p class="add">
    <button class="btn-create">
        <a asp-action="Create">Thêm mới</a>
    </button>
</p>
<div class="parent-pagination" aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>
