
@model X.PagedList.IPagedList<WebOnlineShopping.Models.Product>
@using X.PagedList.Mvc.Core
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table {
        max-width: 80%;
        margin-top: 30px;
        margin-left: auto
    }

    button {
        width: 60px;
        height: 40px;
        border-radius: 12px;
        background: #ccc;
    }

        button:hover {
            background: red;
            transition: .25s
        }

    .btn-create {
        width: 120px;
        height: 50px;
        border-radius: 12px;
        background: #ccc;
    }

    p {
        margin-left: 280px
    }

    .form-select {
        max-width: 20%;
        margin-top: 30px;
        margin-left: auto
    }

    .nav {
        margin-top: 30px;
        margin-left: 300px;
    }

    .pagination {
        max-width: 20%;
        margin-left: auto;
    }

    .form-search {
        margin-top: 30px;
 
        margin-left: 300px;
    }
  
</style>

<h3 class="nav">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="text-muted fw-light">Quản lý /</span> </a>
    <a>Danh Sách Sản Phẩm: @CurrentPage</a>
</h3>

<form asp-action="Index" method="get" class="form-search">
    Nhập tên sản phẩm
    <input type="text" name="name" />
    Nhập giá từ
    <input type="number" name="to" />
    Đến
    <input type="number" name="from" />
    
    <button>Tìm</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Giá
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Tồn kho
            </th>            

            <th>
                Hình ảnh
            </th>
           
        </tr>
  
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.ProductId
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdesc)
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Discount
            </td>

                <td>
                    @if (item.Active == true)
                    {
                        <div>In Stock</div>
                    }
                    else
                    {
                        <div>Out Stock</div>
                    }
                </td>

                 <td>
                   @item.Stock
                </td>
                <td>
                    @item.Video
                </td>
                
            <td>
                    <button>
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    </button>
                    <button>
                        <a asp-action="Details" asp-route-id="@item.ProductId">View</a>
                    </button>
                    <button>
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="add">
    <button class="btn-create">
        <a asp-action="Create">Thêm mới</a>
    </button>
</p>
<div class="pagination">
    @Html.PagedListPager(Model,page=>Url.Action("Index","_AdminProducts",new {page=page}))
</div>
