@model IEnumerable<WebOnlineShopping.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table {
        max-width:80%;
        margin-top:30px;
        margin-left:auto
    }
    p {
        max-width: 80%;
        margin-top: 30px;
        margin-left: auto
    }

    button {
        width: 60px;
        height: 40px;
        border-radius: 12px;
        background: #ccc;
    }

        button:hover {
            background: red;
            transition: .25s
        }

    .btn-create {
        width: 120px;
        height: 50px;
        border-radius: 12px;
        background: #ccc;
    }

    .form-select {
        max-width: 20%;
        margin-top: 30px;
        margin-left: auto
    }
    .nav { 
        margin-top: 30px;
        margin-left: 300px;
    }

</style>
<h3 class="nav">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="text-muted fw-light">Quản lý /</span> </a>
    <a>Quản lý tài khoản</a>
</h3>
<select class="form-select" asp-items="ViewBag.QuyenTruyCap" >
    <option selected>Trạng thái</option>
   
</select>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Lần đăng nhập cuối
            </th>
            <th>
                Quyền truy cập
            </th>
            <th>
                Điện thoại
            </th>         
            <th>
                Trạng thái
            </th>
            <th> 
               Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AccountId
                    </td>
                    <td>
                        @item.FullName               
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.LastLogin
                    <td>
                       @item.RoleId
                    </td>
                    <td>
                        @item.Phone
                    </td>                 
                    <td>
                        @if (item.Active == true)
                        {
                            <div>Active</div>
                        }
                        else
                        {
                            <div>Hidden</div>
                        }
                    </td>
                    <td>
                        <button>
                            <a asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
                        </button>
                        <button>
                            <a asp-action="Details" asp-route-id="@item.AccountId">View</a>
                        </button>
                        <button>
                            <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p class="add">
    <button class="btn-create">
        <a asp-action="Create">Thêm mới</a>
    </button>
</p>
